.stats {
    margin-top: 20px;
  }
  
  .stats h6 {
    font-weight: bold;
    color: #3f51b5;
    margin-bottom: 20px;
  }
  
  .stats p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  span {
    font-weight: bold;
  }